<h1>All our flats (<%= Flat.count %>)</h1>

<ul>
  <% @flats.each do |flat| %>
    <li>
      <%= flat.name %> ||
      <%= flat.address %> ||
      <%= flat.price_per_night %> ||
      <%= flat.number_of_guests %> ||
      <%= link_to "More info", flat_path(flat) %> -
      <%= link_to "Edit", edit_flat_path(flat) %> -
      <%= link_to "Delete", flat_path(flat), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
